.e-afterblock-line {
  margin: 0 auto;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid #bcd0e5;
  max-width: 1200px;
  // border-top: 1px dashed #272424;
  // background: #995d5b5b;
}

.c-footer__afterblock-line {
  padding: 0 15px;
}
